attrs==23.2.0
cffi==1.16.0
cryptography>=3.3.2
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
msgpack-python==0.4.8
numpy==2.0.0
ocpp==1.0.0
pycparser==2.22
raftos==0.2.6
referencing==0.35.1
rpds-py==0.18.1
scipy==1.13.1
websockets==12.0
